.line-transparent {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 50px;
  width: 20%;
  background: #FEFEFE;
}

.line-medium {
  height: 50px;
  width: 30%;
  background: #DAD0C9;
}

.line-hard {
  height: 50px;
  width: 50%;
  background: #041595;
}






.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: lightblue;
}
.item{
	display: flex;
	justify-content: flex-end;
}
.item{
	margin: 10px 30px
	color:white;
	font-family: Optima;

}
.item{
	color:white;
	font-family: Optimal;
}
.frame{
	border: 10px solid white; 
	margin: 100px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px grey;
}



h1{
	color: white;
	font-size: 25px;
	background: lightblue;
	font-family: Stint Ultra Condensed, cursive ;
}
body{
	font-family: Optima;
	font-size: 13px;
	background-color: #E5D3CF;
	text-align: center;
}
.imgcentre{
	display: flex;
	justify-content: center;
}

a, a:hover{
	color: white;
}